@font-face {
    font-family: 'Izax';
    src: url('fonts/Izax.eot');
    src: local('☺'), url('fonts/Izax.woff') format('woff'), url('fonts/Izax.ttf') format('truetype'), url('fonts/Izax.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}  
@font-face {
	font-family: 'Izax_Thin';
	src: url('fonts/Izax_Thin.eot');
	src: local('☺'), url('fonts/Izax_Thin.woff') format('woff'), url('fonts/Izax_Thin.ttf') format('truetype'), url('fonts/Izax_Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

