@font-face {
    font-family: 'Izax';
    src: url('fonts/Izax.eot');
    src: local('☺'), url('fonts/Izax.woff') format('woff'), url('fonts/Izax.ttf') format('truetype'), url('fonts/Izax.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}  
@font-face {
	font-family: 'Izax_Thin';
	src: url('fonts/Izax_Thin.eot');
	src: local('☺'), url('fonts/Izax_Thin.woff') format('woff'), url('fonts/Izax_Thin.ttf') format('truetype'), url('fonts/Izax_Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
/*Zeroing styles*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* BASICS */
*{
    font-family: 'Playfair Display';
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

/* SAME COLORS */
header, footer {background: rgb(36, 152, 160);}
.center__top, .center__bottom, body {background: rgb(152, 211, 226);}
nav, .center__right {background: rgb(255, 240, 211);}
.center__main, .top-title, .bottom-title {background: rgb(243, 243, 243);}

/*TITLES*/
.top-title, .bottom-title {
    display: flex;
    align-self: center;
    position: absolute;
    right: 20px;
    width: 200px;
    height: 50px;
    border: 5px solid rgb(25, 124, 131);
    border-radius: 15px;
    box-shadow: -8px 0 8px rgb(8, 67, 71);
}
.top-title h1, .bottom-title h2 {
    width: 100%;
    align-self: center;
    font-size: 30px;
}
.top-title h1 {
    text-align: center;
    letter-spacing: 8px;
}
.bottom-title h2 {
    text-align: right;
    padding-right: 15px;
}

header, footer {
    display: flex;
    height: 25%;
}
header q {
    font-style: italic;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    color: rgb(152, 211, 226);
    quotes: '\00AB' '\00BB' '\201E' '\201C';
    width: px;
    font-weight: 100;
    text-align: center;
    display: flex;
    align-self: center;
    white-space: pre;
    padding: 0 0 0 25px;
}
/* CENTER */
.center {
    height: 50%;
    min-width: 850px;
    display: flex;
}
.center__main-blocks {
    width: 75%;
}
.main-blocks__top-part {
    display: flex;
    height: 80%;
}
.center__central-blocks {
    width: 70%;
}

/* Center__Main */
.center__main {
    height: 80%;
    min-height: 210px;
    padding: 30px 30px;
    position: relative;
    border: 3px solid rgb(241, 48, 80);
    border-radius: 15px;
}
.center__main p::first-letter {
    padding-left: 15px;
    font-size: 30px;
}
.center__main span {
    color: rgb(241, 48, 80);
}
.center__main a {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 30px;
    margin: 0 0 0 -30px;
    text-align: center;
    color: rgb(25, 124, 131);
    text-decoration: underline;
    text-transform: lowercase;
    font-style: italic;
}
.center__main a:hover {
    color: lightseagreen;
}

/* Center sides */
.center__top {
    height: 20%;
}
.center__bottom {
    height: 20%;
}
.center__right {
    width: 25%;
    min-width: 200px;
    background: url(../images/girl.jpeg) 40% 50% no-repeat;
}
nav {
    width: 30%;
    min-width: 150px;
    padding: 40px 0 30px 15px;
}
nav li {
    padding: 0 0 0 15px;
    margin: 0 0 30px 0;
}
nav li::before {
    content: '';
    border-radius: 50%;
    background-color: rgb(241, 48, 80);
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 10px 0 0;
}
nav li:nth-child(1) {
    color: rgb(190, 116, 128);
}
nav li:nth-child(1)::before {
    background-color: rgb(190, 116, 128);
}
