/* BASICS */
*{
    font-family: 'Izax';
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(38, 0, 126);
}
body{
    width: 100vw;
    height: 100vh;
    min-width: 900px;
    min-height: 850px;
}

/* SAME COLORS */
header, footer {background: rgb(15, 72, 156);}
.center__top, .center__bottom, body {background: rgb(10, 147, 211);}
nav, .center__right {background: rgb(212, 212, 212);}
.center__main, .top-title, .bottom-title {background: rgb(243, 243, 243);}

/*TITLES*/
.top-title, .bottom-title {
    display: flex;
    align-self: center;
    position: absolute;
    right: 20px;
    width: 200px;
    height: 50px;
    border: 5px solid rgb(38, 0, 126);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgb(27, 44, 99);
}
.top-title h1, .bottom-title h2 {
    width: 100%;
    align-self: center;
    font-size: 30px;
}
.top-title h1 {
    text-align: center;
    letter-spacing: 8px;
}
.bottom-title h2 {
    text-align: right;
    padding-right: 15px;
}

/* HEADER_FOOTER */
header, footer {
    display: flex;
    height: 25%;
    position: relative;
}
header {
    position: relative;
    z-index: 3;
    box-shadow: 0 5px 15px rgb(27, 44, 99);
    border-bottom: 3px solid rgb(38, 0, 126);
}
header div {
    display: flex;
    align-self: center;
    margin: 0 0 0 30px;
    width: 70%;
    justify-content: center;
}
header h2, aside h2 {
    color: white;
    font-size: 40px;
    text-shadow: 0 5px 5px rgb(38, 0, 126);
    border: 10px double rgb(38, 0, 126);
    text-align: center;
    align-self: center;
    line-height: 40px;
}
header h2{
    padding: 15px;
    margin: 15px 0 15px 30px;
    width: 150px;
}
aside h2 {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 90%;
}
header p {
    color: white;
    margin: 50px 30px;
    width: 45%;
    font-size: 25px;
    opacity: 0.5;
    line-height: 30px;
}
footer{
    border-top: 3px solid rgb(38, 0, 126);
    background: url(../images/css_back.jpg) 100% no-repeat;
    background-size: cover;
    opacity: 0.9;
}
footer div {
    display: flex;
    width: 70%;
}
footer div p {
    margin: 20px;
    overflow: hidden;
}

/* CENTER */
.center {
    height: 50%;
    display: flex;
}
.center__main-blocks {
    width: 75%;
}
.main-blocks__top-part {
    display: flex;
    height: 80%;
}
.center__central-blocks {
    width: 70%;
}

/* Center__Main */
.center__main {
    height: 80%;
    border: 5px solid rgb(38, 0, 126);
    border-radius: 5px;
    min-height: 240px;
    margin: 0 10px;
}
.center__main img {
    display: block;
    margin: 0 auto;
}
/* Center sides */
.center__top, .center__bottom {
    height: 20%;
    display: flex;
    justify-content: center;
}
.center__top p, .center__bottom p{
    display: flex;
    align-self: center;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    opacity: 0.5;
}
.center__top p::before {
    content: '';
    background: url(../images/Down_Arrow.png) 10px 10px no-repeat;
}
.center__right {
    width: 25%;
}
.center__right ol {
    margin: 0 40px;
}
.center__right li {
    font-size: 20px;
    padding: 0 0 5px 0;
}
nav {
    display: flex;
    width: 30%;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 15px rgb(27, 44, 99);
    position: relative;
    z-index: 2;
}
nav ul {
    display: flex;
    align-self: center;
    flex-direction: column;
}
nav li {
    padding: 0 0 0 15px;
    height: 50px;
    color: rgb(88, 70, 133);
    font-size: 25px;
}
nav li a {
    color: rgb(38, 0, 126);
    font-size: 25px;
}
nav li a:hover {
    font-size: 30px;
}
nav li::before {
    content: '';
    border-radius: 50%;
    background-color: rgb(38, 0, 126);
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 10px 0 0;
    box-shadow: 0 3px 2px rgb(74, 71, 82);
}
nav li:nth-child(2)::before {
    background-color: rgb(88, 70, 133);
}