/* BASICS */
*{
    font-weight: 500;
}
body{
    width: 100vw;
    height: 100vh;
    min-width: 800px;
    min-height: 700px;
}

/* SAME COLORS */
header, footer {background: #c3dbf3;}
.center__top, .center__bottom, body {background: rgb(255, 255, 255);}
nav, .center__right {background: #fde9d9;}
.center__main, .top-title, .bottom-title {background: #eaf1dd;}
.top-title, .bottom-title, .center, .center__main {border: 1px solid black;}
.center__top {border-left: 1px solid black;}
.center__bottom, .center__top {border-right: 1px solid black;}
nav {border-bottom: 1px solid black;}

/*TITLES*/
.top-title, .bottom-title {
    position: absolute;
    right: 10px;
    top: 40%;
    width: 200px;
    height: 50px;
    display: flex;
    font-size: 20px;
}
.top-title h1 {
    text-align: center;
    width: 100%;
    align-self: center;
}
.bottom-title h2 {
    text-align: right;
    width: 100%;
    padding-right: 15px;
    align-self: center;
}

/* HEADER_FOOTER */
header, footer {
    height: 25%;
    position: relative;
    display: flex;
    padding: 15px;
}
header p, footer p {
    width: 70%;
    text-align: justify;
}
/* CENTER */
.center {
    height: 50%;
    display: flex;
}
.center__main-blocks {
    width: 75%;
}
.main-blocks__top-part {
    display: flex;
    height: 80%;
}
.center__central-blocks {
    width: 70%;
}

/* Center__Main */
.center__main {
    height: 80%;
    overflow: auto;
    padding: 15px;
}
.center__main p {
    font-size: px;
    line-height: 25px;
    text-align: center;
}

/* Center sides */
.center__top, .center__bottom {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center__right {
    width: 25%;
    padding: 20px;
}
.center__right p {
    font-style: italic;
    line-height: 20px;
}
.center__right p::first-letter {
    font-size: 25px;
}
nav {
    display: flex;
    width: 30%;
    align-items: center;
}
nav li {
    padding: 0 0 0 15px;
    height: 50px;
    color: #9acdff;
}
nav li a {
    color: #2e97ff;
}
nav li a:hover {
    font-size: 20px;
}
nav li::before {
    content: '';
    border-radius: 50%;
    background-color: #2e97ff;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 10px 0 0;
}
nav li:nth-child(4)::before {
    background-color: #9acdff;
}
